<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <%- include('./partials/head'); -%>

  </head>
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 50px;" src="img/logo_acad.png" alt="AG Dashboard">
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" onclick="home_path()">
                  <i class="material-icons">account_circle</i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " onclick="formations_path()">
                  <i class="material-icons">import_contacts</i>
                  <span>Formations</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " onclick="absences_path()">
                  <i class="material-icons">contacts</i>
                  <span>Absences</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " onclick="notes_path()">
                  <i class="material-icons">assignment</i>
                  <span>Notes</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " onclick="documents_path()">
                  <i class="material-icons">attachment</i>
                  <span>Documents</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " onclick="settings_path()">
                  <i class="material-icons">settings</i>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-icon__wrapper">
                      <i class="material-icons">&#xE7F4;</i>
                      <span class="badge badge-pill badge-danger">2</span>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE6E1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Analytics</span>
                        <p>Your website’s active users count increased by
                          <span class="text-success text-semibold">28%</span> in the last week. Great job!</p>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE8D1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Sales</span>
                        <p>Last week your store’s sales count decreased by
                          <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>
                      </div>
                    </a>
                    <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="img/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block"><%- login -%></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="logout()">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
          <!-- End Small Stats Blocks -->
          <div class="row">
            <div>
              <div class="bg-primary ml-3 mb-3 rounded text-white text-center p-3" style="box-shadow: inset 0 0 5px rgba(0,0,0,.2);" onclick="add_student()">Ajouter un élève</div>
            </div>
          </div>

            <div class="row row_prof">

            </div>

            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Liste des étudiants</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">Prénom</th>
                          <th scope="col" class="border-0">Nom</th>
                        </tr>
                      </thead>
                      <tbody id="list_students">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- End Top Referrals Component -->
            </div>

          </div>

          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" onclick="home_path()">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="formations_path()">Formations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="absences_path()">Absences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="documents_path()">Documents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="settings_path()">Settings</a>
              </li>
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2018
              <a rel="nofollow">AcademyGeneva by RE|BORN</a>
            </span>
          </footer>
        </main>
      </div>
    </div>
  </body>
</html>

<%- include('./partials/footer'); -%>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

<script>
  var login = <%- JSON.stringify(login) %>;
  var students = <%- JSON.stringify(students) %>;
  var id = <%- JSON.stringify(id) %>;

  function add_student(){
    document.location.href = '/add_student';
  }

  $(document).ready(function() {

    for(var i in students)
        $("#list_students").append('<tr><td>' + students[i].PRENOM_ELEVE + '</td><td>' + students[i].NOM_ELEVE + '</td></tr>');

  });

</script>
